*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#ff9ecf,#ff5fa2);
color:white;
text-align:center;
padding:20px;
}

#lockScreen{
margin-top:80px;
}

input{
padding:15px;
width:260px;
border:none;
border-radius:10px;
font-size:18px;
text-align:center;
margin-top:20px;
}

button{
padding:15px 35px;
font-size:20px;
background:#ff006e;
color:white;
border:none;
border-radius:40px;
margin-top:20px;
cursor:pointer;
box-shadow:0 0 20px #ff4da6;
}

button:hover{
transform:scale(1.05);
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
margin-top:25px;
}

.gallery img{
width:100%;
border-radius:20px;
box-shadow:0 0 20px rgba(255,255,255,.4);
}

.letter{
margin:30px auto;
max-width:700px;
background:white;
color:#444;
padding:25px;
border-radius:20px;
line-height:1.8;
font-size:18px;
}

#timer{
margin-top:30px;
font-size:28px;
}

h1,h2,p{
margin-top:20px;
}

#wrong{
color:yellow;
font-weight:bold;
}
